<h1>Reviews for <%= @trip.name %></h1>
<% if @reviews %>
	<% @reviews.each do |r| %>
		<% if @trip.id == r.trip_id %>
			<%if r.title%>
				<h3><%=r.title%></h3>
			<%else%>
				<h3>No title</h3>
			<%end%>
			<p>User: <%=User.find(r.user_id).email%></p>
			<p>Rating: <%=r.rating%></p>
			<p>Description: <%=r.description%></p></br>
		<%end%>
	<%end%>
<%else %>
	<p>This trip has no reviews boyy</p>
<%end%>

